body {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  background: #fafafa;
  color: #222;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e24;
  color: white;
  padding: 1rem 2rem;
  z-index: 1000;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

h2 {
  margin-top: 2rem;
}

footer {
  text-align: center;
  padding: 1.5rem;
  margin-top: 2rem;
  background: #eee;
}

.small-image {
  display: block;
  margin: 0 auto;
  max-width: 15%;
  height: auto;
}

.hover-image {
  transition: transform 0.3s ease;
}

.hover-image:hover {
  transform: scaleX(5);
}

.x {
  position: absolute;
  color: rgb(255, 235, 235);
  pointer-events: none;
  position: absolute;
  z-index: -1;
}

.hero-wrapper {
  position: relative;
  height: 400vh;
}

.wide-wrapper {
  top: 0;
  left: 0;
  position: relative;
  height: 300vh;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}

.wide-image {
  position: sticky;
  top: 50vh;
  left: 75vw;
  transform: translate(-50%, -50%);
  transition: left 0.7s ease, opacity 0.5s ease;
  opacity: 0;
  max-width: 800px;
  max-height: 100vh;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/img/teto-plush-side.png');
  background-size: cover;
  background-position: center;
  background-color: rgba(67, 0, 0, 0.1);
}

.hero-content {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}